@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

@font-face {
  font-family: "Megante";
  src: url("/public/fonts/Meganté-Personal-Use.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/public/fonts/FutuMd.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-megante{
  font-family: "Megante", sans-serif;
}

.font-futura{
  font-family: "Futura", sans-serif;
}

body {
    background-color: var(--color-nude-50);
  }

  .title-font {
    font-family: 'Montserrat', sans-serif;
  }

  @theme {
    --color-nude-50: #DEC8BB;
    --color-nude-100: #00303C;
    --color-nude-200: #E0A2A2;
    --color-nude-300: #A56C6C;
    --color-nude-400: #915858;
  }

  @theme {
    @keyframes rotate-text {
      /* Entra rápido, fica um pouco, sai rápido */
      0%, 5% { opacity: 0; transform: translateY(8px); }
      10%, 25% { opacity: 1; transform: translateY(0); }
      30%, 100% { opacity: 0; transform: translateY(-8px); }
    }
  
    /* Ciclo total de 8s (2s por palavra) */
    --animate-rotate-fast: rotate-text 8s infinite;
  }